!/**/Platform/**/*
**/logs/**/*
**/Platform/**/db
**/bin/
**/obj/
src/binaries/**/*
**/.vs/
MonitoringDemo.Sql/support/*.log
MonitoringDemo.Sql/transport/
*.pdb
.learningtransport/**

**/.diagnostics/*
/src/.learningtransport
