!/**/Platform/**/*
**/logs/**/*
**/Platform/**/db
**/Solution/**/bin/
**/Solution/**/obj/
**/.vs/
MonitoringDemo.Sql/support/*.log
MonitoringDemo.Sql/transport/
*.pdb
transport/
SQLServer2016-SSEI-Expr.exe
/Solution/binaries/
