<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring/HttpHostname" value="localhost" />
    <add key="Monitoring/HttpPort" value="33633" />
    <add key="Monitoring/LogPath" value="..\..\..\logs\monitoring-instance" />
    <add key="Monitoring/TransportType" value="NServiceBus.SqlServerTransport, NServiceBus.Transport.SQLServer" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="server=np:\\.\pipe\LOCALDB#SHE3F746\tsql\query;Integrated Security=SSPI;Database=ParticularMonitoringDemo" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>