name: Release
on:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          global-json-file: global.json
      - name: Build
        run: dotnet build src --configuration Release
      - name: Install AzureSignTool
        run: dotnet tool install --global azuresigntool
      - name: Sign binaries
        run: |
          AzureSignTool sign `
          --file-digest sha256 `
          --timestamp-rfc3161 http://timestamp.digicert.com `
          --azure-key-vault-url https://particularcodesigning.vault.azure.net `
          --azure-key-vault-client-id ${{ secrets.AZURE_KEY_VAULT_CLIENT_ID }} `
          --azure-key-vault-tenant-id ${{ secrets.AZURE_KEY_VAULT_TENANT_ID }} `
          --azure-key-vault-client-secret ${{ secrets.AZURE_KEY_VAULT_CLIENT_SECRET }} `
          --azure-key-vault-certificate ${{ secrets.AZURE_KEY_VAULT_CERTIFICATE_NAME }} `
          src/binaries/MonitoringDemo.exe `
          src/binaries/Billing/Billing.exe `
          src/binaries/ClientUI/ClientUI.exe `
          src/binaries/Platform/Platform.exe `
          src/binaries/Sales/Sales.exe `
          src/binaries/Shipping/Shipping.exe
        shell: pwsh
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESSKEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRETKEY }}
          aws-region: us-east-1
      - name: Deploy to S3
        shell: pwsh
        run: |
          echo "Creating Particular.MonitoringDemo.zip archive"
          Compress-Archive -Path ./src/binaries/* -DestinationPath ./Particular.MonitoringDemo.zip

          echo "Uploading zip file to AWS"
          aws s3 cp ./Particular.MonitoringDemo.zip s3://particular.downloads/MonitoringDemo/Particular.MonitoringDemo.zip --content-type application/zip --acl public-read

          echo "Complete"
      - name: Upload dependency file to AWS
        shell: pwsh
        run: |
          $dotnetPackages = dotnet list src/Platform package --include-transitive --format json | ConvertFrom-Json
          $firstProject = $dotnetPackages.projects[0]
          $firstTfm = $firstProject.frameworks[0]
          $allPackages = $firstTfm.topLevelPackages + $firstTfm.transitivePackages

          $versions = @{
            PlatformSample = ($allPackages | Where-Object -Property id -EQ 'Particular.PlatformSample').resolvedVersion
            ServiceControl = ($allPackages | Where-Object -Property id -EQ 'Particular.PlatformSample.ServiceControl').resolvedVersion
            ServicePulse = ($allPackages | Where-Object -Property id -EQ 'Particular.PlatformSample.ServicePulse').resolvedVersion
          }

          $json = $versions | ConvertTo-Json
          echo "Writing dependencies file ./dependencies.json containing:"
          echo $json
          echo $json > dependencies.json

          echo "Uploading to https://s3.amazonaws.com/particular.downloads/MonitoringDemo/Particular.MonitoringDemo.dependencies.json"
          aws s3 cp ./dependencies.json s3://particular.downloads/MonitoringDemo/Particular.MonitoringDemo.dependencies.json --content-type application/json --acl public-read
          echo "Complete"
